:root{
    --principal_color: #1b749c;
    --alice: aliceblue; 
    --fonce: #10455e;
    overflow-x: hidden;
}

*{

    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color:var(--alice);
}
body nav{
    display: flex;
    padding:1vh 0 1vh 8vh;
    gap: 60vh;
    box-shadow: 0.1vh 0.1vh 1vh rgba(128, 128, 128, 0.452);
}

.navLogo{
    height: 8vh;
}

body nav ul{
    display: flex;
    gap: 8vh;
    align-items: center;
    
}

body nav ul li{
    list-style: none;
    
}

body nav ul li a{
    margin-left: -2vh;
    text-decoration: none;
    color: var(--fonce);
    font-weight: 700;
    font-size: 2.5vh;
}

.navQuote{
    padding-left: 13vh;
}


nav ul li a.active {
    height: 0.5vh;
    transition: width 0.3s ease;
    margin-bottom: 2.5vh;
    margin-top: 6vh;
    border-bottom: var(--fonce) 0.5vh solid;
}







.realizationTittle{
        margin-top: 5vh;
    margin-bottom: 5vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 8vh;
    font-weight: 600;
    letter-spacing: 0.5vh;
    color: var(--principal_color);
    text-align: center;
}

.realizationDesc{
        margin: 3vh auto 5vh auto;
    color: var(--fonce);
    font-size: 3vh;
    font-weight: 600;
    width: 70vw;
    text-align: center;
}

.realizationCase{
    display: flex;
    margin: 1vh 0;
    justify-content: space-around;
    margin-left:2vw;
}

.caseT, .caseB{
    width: 30vw;
}

.caseB{
    margin-top: 35vh;
}

.caseT img, .caseB img{
    width: 25vw;
    position: absolute;
    z-index: -1;
}

.caseT p, .caseB p{
    
    width: 15vw; 
    margin-left: 4.5vw;
    color: var(--fonce);
    font-size: 3vh;
}



.caseST{
    margin-top: 13vh;
    font-weight: 600;
}






.keyImpact{
    display: flex;
    margin-top: 40vh;
    padding: 10vh 0 0 4vw;
}

.keyImpactTittle{
    font-family: 'Montserrat', sans-serif;
    font-size: 8vh;
    font-weight: 700;
    letter-spacing: 0.5vh;
    color: #1b749c;
    margin: 5vh 0 1vh 0;
}

.keyImpact img{
    width: 60%;
    height: auto;
    object-fit: contain;
}

.stats{
    width: 30vw;
    line-height: 4vh;
    padding: 3vh 3vw;
    border: 0.1vh solid var(--fonce);
    border-radius: 1vh;
    margin-bottom: 5vh;

}

.stats p{
    font-size: 3vh;
    padding-bottom: 2vh;
}

.valeur{
    color: var(--principal_color);
    font-size: 4vh !important;
    font-weight: 700;
    padding-bottom: 0 !important;
}



footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--fonce);
    padding: 3vh 5vw;
}

footer ul li{
    list-style: none;
    line-height: 4vh;
}
footer ul li a{
    text-decoration: none;
    color: var(--alice);
    font-size: 2vh;

}


.footerLogo{
    width: 4vw;
}

.footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.footer1 p{
    color: var(--alice);
    line-height: 4vh;
    font-size: 3vh;
    font-weight: 600;
}
.footer2 p, .footer3 p, .footer4 p{
    color: var(--alice);
    line-height: 3vh;
    font-size: 2vh;
    margin-bottom: 2vh;
}

.footer3 p, .footer4 p{
    border-bottom: 0.1vh solid var(--alice);
    font-weight: 600;
    font-size: 3vh;
}

.contactInformation{
    border-bottom: 0.1vh solid var(--alice);
    width: 14.5vw;
    font-weight: 500;
    font-size: 3vh !important; 
}

.ourService{
    width: 9vw;
}
.footer3 ul li a, .footer4 ul li a{
    line-height: 3vh;
}


.reseaux i{
    color: var(--alice);
    padding: 3vh 1vw;
    font-size: 3vh;

    
}