:root{
    --principal_color: #1b749c;
    --alice: aliceblue; 
    --fonce: #10455e;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color:var(--alice);
}
body nav{
    display: flex;
    padding:1vh 0 1vh 8vh;
    gap: 60vh;
    box-shadow: 0.1vh 0.1vh 1vh rgba(128, 128, 128, 0.452);
}

.navLogo{
    height: 8vh;
}

body nav ul{
    display: flex;
    gap: 8vh;
    align-items: center;

}

body nav ul li{
    list-style: none;
    
}

body nav ul li a{
    margin-left: -2vh;
    text-decoration: none;
    color: var(--fonce);
    font-weight: 700;
    font-size: 2.5vh;
}

.navQuote{
    padding-left: 13vh;
}


nav ul li a.active {
    height: 0.5vh;
    transition: width 0.3s ease;
    margin-bottom: 2.5vh;
    margin-top: 6vh;
    border-bottom: var(--fonce) 0.5vh solid;
}

body {
    margin: 0;
    min-height: 100vh;
}


/* PAGE SPLIT */
.page {
    display: flex;
    width: 100%;
    height: 100%;
}

/* LEFT SIDE */
.left-side {
    width: 50vw;
    height: 100vh;
}

/* RIGHT SIDE */
.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FORM */
.quote-form {
    width: 32vw;
    height: auto;
    background: white;
    padding: 4vh 3vw;
    border-radius: 1.5vw;
    box-shadow: 0 2vh 4vh rgba(0,0,0,0.1);
}

/* TEXT */
h1 {
    font-size: 2.2vh;
    margin-bottom: 1vh;
    color: #10455e;
}

.subtitle {
    font-size: 1.4vh;
    margin-bottom: 3vh;
    color: #666;
}

/* INPUT GROUPS */
.row {
    display: flex;
    gap: 1vw;
    margin-bottom: 2vh;
}

.block {
    margin-bottom: 2vh;
}

.label {
    font-size: 1.4vh;
    margin-bottom: 0.8vh;
}

/* INPUTS */
input,
select,
textarea {
    width: 100%;
    padding: 1.2vh;
    font-size: 1.4vh;
    border-radius: 0.6vw;
    border: 1px solid #ccc;
}

textarea {
    resize: none;
    height: 10vh;
}

/* CHECKBOXES */
.checkboxes {
    display: grid;
grid-template-columns: 1fr 1fr;
    gap: 1vh;

}

.checkboxes label {
    font-size: 2vh;
    display: flex;
    align-items: center;
    gap: 1vw;
white-space: nowrap;
}

.checkUp{
    margin-right: -6vw;
    margin-left: -5.6vw;
}

.checkDwnRight{
    margin-left: -2.8vw;
    margin-right: -3.5vw;
}

.checkDwnLeft{
    margin-left: 0.8vw;
    margin-right: 5;
}

/* BUTTONS */
.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1vw;
    margin-top: 3vh;
}

button {
    padding: 1.2vh 2.5vw;
    border-radius: 2vw;
    border: none;
    cursor: pointer;
    font-size: 1.4vh;
}

.clear {
    background: transparent;
    border: 1px solid #10455e;
    color: #10455e;
}

.send {
    background: #10455e;
    color: white;
}

















footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--fonce);
    padding: 3vh 5vw;
}

footer ul li{
    list-style: none;
    line-height: 4vh;
}
footer ul li a{
    text-decoration: none;
    color: var(--alice);
    font-size: 2vh;

}


.footerLogo{
    width: 4vw;
}

.footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.footer1 p{
    color: var(--alice);
    line-height: 4vh;
    font-size: 3vh;
    font-weight: 600;
}
.footer2 p, .footer3 p, .footer4 p{
    color: var(--alice);
    line-height: 3vh;
    font-size: 2vh;
    margin-bottom: 2vh;
}

.footer3 p, .footer4 p{
    border-bottom: 0.1vh solid var(--alice);
    font-weight: 600;
    font-size: 3vh;
}

.contactInformation{
    border-bottom: 0.1vh solid var(--alice);
    width: 14.5vw;
    font-weight: 500;
    font-size: 3vh !important; 
}

.ourService{
    width: 9vw;
}
.footer3 ul li a, .footer4 ul li a{
    line-height: 3vh;
}


.reseaux i{
    color: var(--alice);
    padding: 3vh 1vw;
    font-size: 3vh;

    
}