:root{
    --principal_color: #1b749c;
    --alice: aliceblue; 
    --fonce: #10455e;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color:var(--alice);
}
body nav{
    display: flex;
    padding:1vh 0 1vh 8vh;
    gap: 60vh;
    box-shadow: 0.1vh 0.1vh 1vh rgba(128, 128, 128, 0.452);
}

.navLogo{
    height: 8vh;
}

body nav ul{
    display: flex;
    gap: 8vh;
    align-items: center;

}

body nav ul li{
    list-style: none;
}

body nav ul li a{
  display: inline-block;
    margin-left: -2vh;
  
    text-decoration: none;
    color: var(--fonce);
    font-weight: 700;
    font-size: 2.5vh;
    transition: transform O.5s ease;
}

body nav ul li a:hover{
transform: scale(1.1);

}

.navQuote{
    padding-left: 13vh;
}




h1{
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 8vh;
    font-weight: 600;
    letter-spacing: 0.5vh;
    color: var(--principal_color);
    text-align: center;
}

.serviceWe{
    margin: 3vh auto 5vh auto;
    color: var(--fonce);
    font-size: 3vh;
    font-weight: 600;
    width: 70vw;
    text-align: center;
}


.services{
  display: flex;
}


.services img{
  width: 50%;
  height: auto;
}



.serviceST{
  display: flex;
  align-items: center;
  margin-top: 5vh;
}

.serviceST img{
  width: 3vw;

}


.serviceST p{
  font-size: 3vh;
  font-weight: 500;
  color: var(--principal_color);
  
}



.servicePartR{
  margin-left: 20vw;

}

.serviceDesc{
    margin-top: 3vh;
    font-size: 3vh;
    width: 29vw;
    line-height: 4vh;
    font-weight: 400;
    color: var(--fonce);
}


.approachTitle, .WhoAreTittle{
    margin-top: 15vh;
    margin-bottom: 3vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 8vh;
    font-weight: 600;
    letter-spacing: 0.5vh;
    color: var(--principal_color);
    text-align: center;
}

.approachDesc{
    color: var(--fonce);
    font-size: 3vh;
    font-weight: 500;
    padding: 5vh 3vw;
}

.approachUp, .approachDwn{
display: flex;
justify-content: space-evenly;
margin-bottom: 4vh;
gap: 2vw;
}

.approachUp p, .approachDwn p{
    color: var(--fonce);
    font-size: 3vh;
    font-weight: 400;
}

.approach div div div{
    background-color: var(--alice);
    border: 0.1vh solid var(--fonce);
    box-shadow: 1vh 1vh 0.1vh var(--fonce);
    width: 20vw;
    height: 15vh;
    display: flex;
    padding-left: 2vw;
    align-items: center;
}



.approachNum {
font-size: 5vh !important;
font-weight: 600 !important;
padding-right: 2vw;
color: var(--fonce);
}


.approachListe{
    display: flex;
    justify-content: space-evenly;
}










nav ul li a.active {
    border-bottom: var(--fonce) 0.5vh solid;
}




footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--fonce);
    padding: 3vh 5vw;
}

footer ul li{
    list-style: none;
    line-height: 4vh;
}
footer ul li a{
    text-decoration: none;
    color: var(--alice);
    font-size: 2vh;

}


.footerLogo{
    width: 4vw;
}

.footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.footer1 p{
    color: var(--alice);
    line-height: 4vh;
    font-size: 3vh;
    font-weight: 600;
}
.footer2 p, .footer3 p, .footer4 p{
    color: var(--alice);
    line-height: 3vh;
    font-size: 2vh;
    margin-bottom: 2vh;
}

.footer3 p, .footer4 p{
    border-bottom: 0.1vh solid var(--alice);
    font-weight: 600;
    font-size: 3vh;
}

.contactInformation{
    border-bottom: 0.1vh solid var(--alice);
    width: 14.5vw;
    font-weight: 500;
    font-size: 3vh !important; 
}

.ourService{
    width: 9vw;
}
.footer3 ul li a, .footer4 ul li a{
    line-height: 3vh;
}


.reseaux i{
    color: var(--alice);
    padding: 3vh 1vw;
    font-size: 3vh;

    
}