:root{
    --principal_color: #1b749c;
    --secondary_color: #0a3139;
    --light_gray: #f5f5f5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* NAVIGATION */
body nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 5vw;
    box-shadow: 0.1vh 0.1vh 1vh rgba(128, 128, 128, 0.452);
}

.navLogo{
    height: 8vh;
}

body nav ul{
    display: flex;
    gap: 3vw;
    align-items: center;
}

body nav ul li{
    list-style: none;
}

body nav ul li a{
    text-decoration: none;
    color: var(--principal_color);
    font-weight: 700;
    transition: color 0.3s;
}

body nav ul li a:hover{
    color: var(--secondary_color);
}

.navQuote{
    padding-left: 2vw;
}

/* HOME SECTION */
.home{
    padding: 5vh 5vw;
    text-align: center;
}

.homeTitle {
    font-size: 8vh;
    font-weight: 700;
    letter-spacing: 0.5vh;
    color: var(--principal_color);
    margin-bottom: 4vh;
}

.homeDivision{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 4vw;
}

.homeLeft{
    flex: 1 1 35vw;
    min-width: 20vw;
    text-align: left;
}

.homeSlogan{
    color: #10455e;
    line-height: 2.5vh;
    margin-bottom: 3vh;
}

.slogan1, .slogan2{
    font-size: 2.5vh;
    font-weight: 600;
}

.homeLeft p{
    margin-bottom: 2vh;
}

.homeLeft button{
    margin-right: 2vw;
    padding: 1vh 2vw;
    font-size: 1.8vh;
    background-color: transparent;
    border: solid 0.1vh var(--principal_color);
    border-radius: 1vh;
    cursor: pointer;
    transition: all 0.3s;
}

.homeLeft button a{
    text-decoration: none;
    color: var(--principal_color);   
}

.homeLeft button:hover{
    background-color: var(--principal_color);
}

.homeLeft button:hover a{
    color: white;
}

.homeDivision img{
    flex: 1 1 40vw;
    max-height: 40vh;
}

/* WHAT WE DO */
.homeWhatWeDo{
    padding: 5vh 5vw;
}

.homeWhatWeDo p{
    font-size: 3vh;
    font-weight: 700;
    color: var(--principal_color);
    margin-bottom: 4vh;
    text-align: center;
}

.WWD{
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    justify-content: center;
}

.WWDLeft, .WWDCenter, .WWDRight{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.WWDLeft, .WWDCenter{
    flex: 1 1 25vw;
}

.WWDRight{
    flex: 1 1 30vw;
    font-size: 2vh;
    color: #10455e;
}

/* WWD ITEMS */
.WWDBusiness, .WWDInfrastructure, .WWDTelecom, .WWDITServices{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.WWDBusiness img, .WWDInfrastructure img, .WWDTelecom img, .WWDITServices img{
    height: 6vh;
}

/* KEY INDUSTRY CHALLENGES */
.KeyIndustryChallenge{
    padding: 5vh 5vw;
}

.KeyIndustryChallenge p{
    font-size: 3vh;
    font-weight: 700;
    color: var(--principal_color);
    text-align: center;
    margin-bottom: 4vh;
}

.KICAll{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
}

.KICAll > div{
    flex: 1 1 20vw;
    background-size: cover;
    background-position: center;
    padding: 5vh 2vw;
    border-radius: 1vh;
    text-align: center;
    color: white;
    position: relative;
    min-height: 20vh;
}

/* Chiffres en background */
.KICAll > div:nth-child(1){
    background-image: url('soixante.png');
}
.KICAll > div:nth-child(2){
    background-image: url('soixante_dix.png');
}
.KICAll > div:nth-child(3){
    background-image: url('quarante.png');
}
.KICAll > div:nth-child(4){
    background-image: url('quatre_vingt_dix.png');
}

.KICAll > div p:first-child{
    font-size: 4vh;
    font-weight: 700;
    margin-bottom: 1vh;
}

/* WHY US */
.whyUs{
    padding: 5vh 5vw;
    text-align: center;
}

.whyUs p{
    font-size: 3vh;
    font-weight: 700;
    color: var(--principal_color);
    margin-bottom: 4vh;
}

.WUAll{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
}

.WUAll > div{
    flex: 1 1 20vw;
    text-align: center;
}

/* FOOTER */
footer{
    padding: 5vh 5vw;
    background-color: var(--light_gray);
    text-align: center;
    font-size: 1.8vh;
}

/* MEDIA QUERIES */
@media (max-width: 768px){
    .homeDivision{
        flex-direction: column;
    }
    .homeLeft, .homeDivision img{
        flex: 1 1 100%;
        text-align: center;
    }
    .homeLeft button{
        margin-bottom: 2vh;
    }
    .WWD{
        flex-direction: column;
        align-items: center;
    }
    .WWDLeft, .WWDCenter, .WWDRight{
        flex: 1 1 100%;
        text-align: center;
    }
    .KICAll > div{
        flex: 1 1 40vw;
        min-height: 25vh;
    }
}
