:root{
    --principal_color: #1b749c;
    --alice: aliceblue; 
    --fonce: #10455e;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color:var(--alice);
}
body nav{
    display: flex;
    padding:1vh 0 1vh 8vh;
    gap: 60vh;
    box-shadow: 0.1vh 0.1vh 1vh rgba(128, 128, 128, 0.452);
}

.navLogo{
    height: 8vh;
}

body nav ul{
    display: flex;
    gap: 8vh;
    align-items: center;

}

body nav ul li{
    list-style: none;
    
}

body nav ul li a{
    margin-left: -2vh;
    text-decoration: none;
    color: var(--fonce);
    font-weight: 700;
    font-size: 2.5vh;
}


nav ul li a.active {
    height: 0.5vh;
    transition: width 0.3s ease;
    margin-bottom: 2.5vh;
    margin-top: 6vh;
    border-bottom: var(--fonce) 0.5vh solid;
}

.navQuote{
    padding-left: 13vh;
}

.herofond{
    position: absolute;
    width: 100%;
    z-index: -1;
    margin-top: -8vh;
}

.homeTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 10vh;
    font-weight: 700;
    letter-spacing: 0.5vh;
    color: var(--principal_color);
    text-align: center;
    margin-top: 8vh;
}

.home{
    margin-left: 4vw;
}

.heroDesc{
    color: var(--fonce);
}

.homeSlogan{
    margin: 9vh 0 0 0;
    color: --fonce;
    line-height: 4vh;
}

main button {
    background-color: transparent;
    border: solid 0.1vh black;
    width: 9vw;
    height: 4vh;
    border-radius: 5vh;
    margin-top: 5vh;
}

.slogan1{
    padding-top: 2vh;

}
.slogan1, .slogan2{
    margin-top: 1vh;
    font-size: 4vh;
    font-weight: 700;
    color: var(--fonce);
}

.heroDesc{
    margin-top: 4vh;
    font-size: 3vh;
    width: 40vw;
    line-height: 4vh;
    font-weight: 400;
    color: var(--fonce);
}


main button a{
    text-decoration: none;
    color: var(--alice);
    font-weight: bold;
    font-size: 3vh;
}

.btnHero1, .btnHero2{
    width: 15vw;
    height: 6vh;
}

.btnHero1{
    background-color: var(--fonce);
}

.btnHero2{
    background-color: #1b749c;
    margin-left: 2vw;
}

.WWD{
    display: flex;
    gap: 5vh;
    justify-content: center;

}
.WWDBusiness, .WWDInfrastructure, .WWDTelecom, .WWDITServices{
    display: flex;
    border-radius: 0.5vh;
    box-shadow: 0.1vh 0.1vh 0.5vh grey;
    margin: 4vh 2vw;
    height: 15vh;
    align-items: center;
    gap: 1vh;
    width: 25vw;
    padding-left: 3vh;
    margin-left: -5vh;
    font-weight: 600;
    font-size: 3vh;  transition: 
    transform 0.35s ease,
    box-shadow 0.35s ease;

  transform-style: preserve-3d;

}

.WWDBusiness p, .WWDInfrastructure p, .WWDTelecom p, .WWDITServices p{
  transition: transform 0.35s ease;
}

.WWDBusiness:hover, .WWDInfrastructure:hover, .WWDTelecom:hover, .WWDITServices:hover{
  transform: translateY(-2vh) scale(1.02);
  box-shadow: 0 5vh 5vh rgba(0, 0, 0, 0.2);
}

.WWDBusiness img, .WWDInfrastructure img, .WWDTelecom img, .WWDITServices img{
    height: 8vh;
    transition: transform 0.35s ease;
}

.WWDBusiness p, .WWDInfrastructure p{
    color: var(--fonce);
}

.WWDITServices, .WWDTelecom{
    padding-left: -15vh;
    background-color: #10455e;
    color: var(--alice);
}
.KICAll{
    display: flex;
    justify-content: space-around;
    gap: 4vh;
}

.WUAll{
    display: flex;
}

.titleWWD, .KICTitle{
    margin-top: 30vh;
    margin-bottom: 5vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 8vh;
    font-weight: 600;
    letter-spacing: 0.5vh;
    color: var(--principal_color);
    text-align: center;
    
}

.WWDRight {
    width: 30vw;
    margin: 10vh 0 0 5vw;
}

.WWDRight p{
color: var(--principal_color);
font-size: 3vh;
}

.pourcent{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 6vh;
    font-weight: 400;
    width: 20vw;
    text-align: justify;
    color: var(--fonce);
}

.pourcent img{
    position: absolute;
    z-index: -1;
    width: 15vw;
}

.pourcent p{
    font-size: 3vh;
    text-indent: 1vw;
}
.valeurprc{
    font-weight: 600;
    margin: 14vh 0 13vh -1vw;
    color: var(--fonce);
    font-size: 6vh !important;
}

.prc70{
    margin-top: 2vh;
}

.prc40{
    margin-top: -2vh;
}

.prc90{
    margin-top: 1vh;
}




.WCB{
    margin-top: 5vh;
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 3vw;
}

.whyBLIT p{
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 8vh;
    font-weight: 600;
    letter-spacing: 0.5vh;
    color: var(--principal_color);
    text-align: center;
}

.WCBP, .WCBPcentre{
    width: 20vw;
}

.WCBP img{
    width: 10vw;
    margin-bottom: -3vh;
}

.WCBP p{
    font-size: 3vh;
    color: var(--fonce);
}











footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--fonce);
    padding: 3vh 5vw;
}

footer ul li{
    list-style: none;
    line-height: 4vh;
}
footer ul li a{
    text-decoration: none;
    color: var(--alice);
    font-size: 2vh;

}


.footerLogo{
    width: 4vw;
}

.footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.footer1 p{
    color: var(--alice);
    line-height: 4vh;
    font-size: 3vh;
    font-weight: 600;
}
.footer2 p, .footer3 p, .footer4 p{
    color: var(--alice);
    line-height: 3vh;
    font-size: 2vh;
    margin-bottom: 2vh;
}

.footer3 p, .footer4 p{
    border-bottom: 0.1vh solid var(--alice);
    font-weight: 600;
    font-size: 3vh;
}

.contactInformation{
    border-bottom: 0.1vh solid var(--alice);
    width: 14.5vw;
    font-weight: 500;
    font-size: 3vh !important; 
}

.ourService{
    width: 9vw;
}
.footer3 ul li a, .footer4 ul li a{
    line-height: 3vh;
}


.reseaux i{
    color: var(--alice);
    padding: 3vh 1vw;
    font-size: 3vh;
}







